.rosso{
    background-color: lightskyblue;
    border-style: solid;
   border-width: 10px;
   border-color: lavenderblush;
   border-radius: 30px;
   text-align:center   ;
   color: lavenderblush;
   padding: 8px;
}
.link-navigazione{
    color: aliceblue;
    font-size: 30px;
    font-weight:bold;
}
.foglio{
    border-style: solid;
    border-color: fuchsia;
   
}
.anila{
    text-align: center; background-color: lavenderblush;
    color: lightskyblue;
}

.immagine{
    border-radius: 30px;
    border: 30px;
}